@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
	--f7-theme-color:#433633;
	--f7-navbar-bg-color:#433633; /*navbar*/
	--f7-navbar-link-color: #000; /*navbar link*/
	--f7-navbar-text-color:#FFFFFF;
	--f7-bars-bg-color:#433633;/*toolbar*/
	--f7-tabbar-link-inactive-color: #000000;
	--f7-tabbar-link-active-color: #FFFFFF; /*link toolbar*/
	--f7-block-margin-vertical:20px;
	--f7-card-footer-border-color:transparent; 
	
	

}

body {
	font-family: 'Bebas Neue', sans-serif;

}


.navbar .tittle{
	text-align: center;	
}

.navbar .material-icons{
	color:#5e503f;
}
.page-content{
	background-color:#f1e3d3;
	
}
 

.page-content1{
	background-color:#370150!important;
	background-size: cover;
	background-position: center;
	padding-bottom: 300px;
}

.page-content2{
	background-image:url("../img/backgroundcarrito.jpeg")!important;
	background-size: cover;
	background-position: center;
	padding-bottom: 300px;
}

form .searchbar-input-wrap{
	border: 4px solid #5e503f;
	border-radius: 10px;
	text-align: center;
	color:#5e503f;
	justify-content: center;
	width: 100px;
	
}
#search{
	padding: 30px;
	border-radius: 10px;
	
}

#search .searchbar-icon{
	color:#5e503f;
}

	
.mejor-producto .block-title{
	color:#5e503f;
	font-size:30px;
	padding-bottom:40px;
	padding-top:5px;
	margin-bottom: 0px;
	padding-left: 5px;
}
.link-mejor-producto{
	color: #fff !important;
}
.santa-red{
	padding-left: 130px;!important;
}
.card-product-1{
	background-image: url("../img/santa red.png");
	background-size: cover;
	background-position: center;
	border: 3px solid #1b1b1e ;
    border-radius: 10px;
	color:#fff !important;
	text-align: center;
	padding-top:30px; 
	margin-bottom: 0px;
	overflow: hidden;
	height:150px;
}

.link-categorias{
	color: #fff !important;
}


.trending .block-title{
	color:#5e503f;
	font-size:30px;
	margin-bottom:15px;
	padding-bottom: 20px;
	padding-top: 5px;
	padding-left: 5px;
	margin-top: 5px;
	
}
.card-product-1t{
	background-image:url("../img/sheen lip stylo.jpg");
	padding-bottom: 40px;
	padding-top: 40px;
	background-size: cover;
	background-position: center;
	border: 5px solid #1b1b1e;
    border-radius: 10px;
	color:#fff;
	text-align: center;
	margin-left: 5px;
	height: 150px;
	 }


.card-product-2t{
	background-image:url("../img/mascara.jpg");
	background-size: cover;
	background-position: center;
	border: 5px solid #1b1b1e;
    border-radius: 10px;
	color:#fff;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;
	height: 150px;
	 }


.card-product-3t{
	background-image: url("../img/paleta.jpg");
	background-size: cover;
	background-position: center;
	border: 5px solid #1b1b1e;
    border-radius: 10px;
	color:#fff;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;
	margin-right: 5px;
	height: 150px;
	 }
.card-product-4t{
	background-image: url("../img/mac.jpg");
	background-size: cover;
	background-position: center;
	border: 5px solid #1b1b1e;
    border-radius: 10px;
	color:#fff;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;
	margin-right: 5px;
	height: 150px;
	 }

.card-product-5t{
	background-image: url("../img/red.jpg");
	background-size: cover;
	background-position: center;
	border: 5px solid #1b1b1e;
    border-radius: 10px;
	color:#fff;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;
	margin-right: 5px;
	height: 150px;
	 }

.card-product-6t{
	background-image: url("../img/chanel.jpg");
	background-size: cover;
	background-position: center;
	border: 5px solid #1b1b1e;
    border-radius: 10px;
	color:#fff;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;
	margin-right: 5px;
	height: 150px;
	 }

.card-product-7t{
	background-image: url("../img/hello.jpg");
	background-size: cover;
	background-position: center;
	border: 5px solid #1b1b1e;
    border-radius: 10px;
	color:#fff;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;
	margin-right: 5px;
	height: 150px;
	 }

.card-product-8t{
	background-image: url("../img/gloss.jpg");
	background-size: cover;
	background-position: center;
	border: 5px solid #1b1b1e;
    border-radius: 10px;
	color:#fff;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;
	margin-right: 5px;
	height: 150px;
	 }

.card-product-9t{
	background-image: url("../img/gucci.jpg");
	background-size: cover;
	background-position: center;
	border: 5px solid #1b1b1e;
    border-radius: 10px;
	color:#fff;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;
	margin-right: 5px;
	height: 150px;
	 }
.card-product-1t p{
	opacity: 0%;
	font-size: 1px;
}
.card-product-2t p{
	opacity: 0%;
	font-size: 1px;
}
.card-product-3t p{
	opacity: 0%;
	font-size: 1px;
}

#nav-panel .list ul{
	background-color: transparent;
	font-size: 14px;
	color: #fff;
	padding-top: none;
}
#nav-panel .list span{
	font-size: 22px;
}
#nav-panel{
	background-color: #5e503f;

}
#logo {
	text-align:center;
	
}

/*side panel*/

.side-panel{
	background-color: #e6ccb2;
	margin: 30px 0px 30px 20px;
	border-radius: 10px 0px 0px 10px;
}

.side-panel span.material-icons{
	color: #7f5539;
	font-size: 50px !important;
}

.side-panel div.item-title{
	margin-top: 15px;
	color: #000000;
}




/*Pagina de detalle*/
.card-santa{
	width: 200px;
	background-color:#000000;
	padding: 10px;
	border-radius: 10px;
	padding-right: -50px;
	color: #FFFFFF;
	margin-left: 80px;
	margin-top: 50px;
	
}
.col-heart{
	text-align: right;
	padding-top: 10px;
}
.santa h3{
	color: #000000;
	font-size: 20px;
	margin-left: 150px;
	text-justify: center;
}

.santa p{
	font-family: 'Open Sans', sans-serif;
	margin-left:90px;
	font-weight: 800;
	
}

.santa h2{
	color:#583101;
	margin-left: 160px;
}

.btn-secondary{
	border-radius: 10px;
	height:40px;
	width: 250px;
	background-color: #433633;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 15px;
	margin-left: 60px;
}







.avatar{
	padding-left: 150px;
	padding-top: 80px;
}

.perfil-text1{
	font-family: 'Open Sans', sans-serif;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 16px;
	text-align: center;
	color:#000000;
}

.perfil-text2{
	font-family: 'Open Sans', sans-serif;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 16px;
	text-align: center;
	color:#000000;
}



